
/*===============================================HEADNAVIMG======================================================================================*/
#img{
   width: 100%;
   height: 500px;
}
/*===============================================HEADNAVIMG======================================================================================*/
.insertform{
    margin-left: 30%;
    width: 40%;
 }

