/*============================================NAVBAR==================================================================================*/
#bar{
    font-size: 2em;
    font-weight: bold;
    color: aqua;
}
#bar:hover{
    color: aliceblue;
}
.me-auto{
    margin-left: 25%;
}
#nav:hover{
    color: aqua;
    text-decoration: underline;
}
#nav1{
    color: aqua;
    text-decoration: underline;
}
/*================================================Carousels==========================================================================*/
.sel h3 span{
    color: #101010;
    font-size: 50px;

}
/*==============================================ROW-COL==================================================================================*/
#row{
    margin-top: 20px;
}
#row button{
    font-weight: bold;
    border: none;
    background-color: darkcyan;
}
#row button:hover{
    background-color:rgba(0, 139, 139, 0.779) ;
}
#head2{
    background-color: rgb(34, 35, 36);
    color: aliceblue;
    height: 60px;
}
/*=================================================DIV-CARD===============================================================================*/
.head{
    background-color: rgb(34, 35, 36);
    color: aliceblue;
    height: 60px;
}
#div2{
    display: flex;
    justify-content: space-between;
    /* margin-top: 40px; */
}
#div2 button{
    font-weight: bold;
    border: none;
    background-color: darkcyan;
}
#div2 button:hover{
    background-color:rgba(0, 139, 139, 0.779) ;
}
/*================================================FOOTER========================================================================================*/
#ftr{
    height: 400px;
    background-color: rgba(34, 35, 36, 0.461);
    color: aliceblue;
    padding: 3rem;
    margin: 2rem;

}
#footer{
    display: flex;
    gap: 30px;
}