
.header{
    width: 100%;
    height: 60px;
    background-color: rgb(115, 128, 128);
    color: aliceblue;
}
.head{
    margin: 3rem;
    height: 300px;
    background-color: azure;
}
.footer{
    width: 100%;
    height: 60px;
    background-color: rgb(115, 128, 128);
    color: aliceblue;
}