
body{
    background-color: darkgray;
}
#bpl{
    color: rgb(11, 60, 220);
}
.cyb{
    color: crimson;
    font-size: large;
    font-family: cursive;
}
#st{
    color: rgb(141, 4, 36);
    font-weight: bold;
    text-decoration: overline;
}
#nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    display: flex;
    justify-content: space-between;
    margin: 1.2rem;
}