
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#topHeader
{
    top: 0;
    position: sticky;
    z-index: 3;
}

/*===================================================header css==============================================================================================*/
#title{
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(228, 16, 104);
    font-family: cursive;
}
/*====================================================================================================================================================*/
/*================================================(TOPNAV CSS)===============================================================================================================*/
#navdiv{
    display: flex;
    gap: 40px;
}
#nav:hover{
    color: rgb(28, 134, 179);
    text-decoration: underline;
}
#nav1{
    color: rgb(28, 134, 179);
    text-decoration: underline;
}
#nav:hover{
    color: rgb(28, 134, 179);
    text-decoration: underline;
}
.me-auto{
    margin-left: 10%;
}
/*===============================================(Footer Component)=======================================================================================================================*/

#delivery{
    /*border: 1px solid black;*/
    margin-top: 40px;
    background-color: rgba(126, 169, 196, 0.82);
    margin: 2rem;
}
#delivery .inform {
    width: 100%;
    height:  60vh;
   /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 3rem;
}
#delivery .inform div{
    width: 700px;
    height: 300px;
    border-right: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
   font-size: 15px;
}
#icons{
    font-size: 50px;
}
.ftr{
    width: 100%;
    height: 400px;
     background-color: azure;
     display: flex;
     justify-content: center;
     gap: 50px;
     padding: 2rem;
     background-color: black;
     color: rgb(228, 228, 225);
     
}
.ftr div h3{
     color: aliceblue;
     font-weight: bold;
     font-size: 23px;
}
.ftr div h5{
     color: aliceblue;
     font-weight: bold;
     font-size: 15px;
}
.ftr div{
    display: flex;
    flex-direction: column;
}
#inp{
    display: none;
}
#bar{
    display: none;
}
/*=========================================================================[MEDIA QUERY STARTS HERE]===========================================================================================================*/
@media (max-width:450px){
    #topHeader
{
    top: 0;
    position: sticky;
    z-index: 3;
}
#bar{
    display: block;
    margin-right: 20%;
    font-size: 50px;
    
    
}
    #inp:checked~ #top .me-auto{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80%;
        right:7%;
        padding: 20px;
        border-radius: 10px;
        background-color: aliceblue;
        line-height: 8%;
        z-index: 5;
    }
    #top{
        width: 100%;
    }
    .me-auto{
       display: none;   
    }
    #navdiv{
        display: none;
    }
    #delivery .inform {
    width: 100%;
    height: auto;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 3rem;
    flex-direction: column;
  }
  #delivery .inform div{
    width: auto;
    height: 300px;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
   font-size: 15px;
   }
  .ftr{
     width: 100%;
     height: auto;
     background-color: azure;
     display: flex;
     justify-content: center;
     gap: 50px;
     padding: 2rem;
     background-color: black;
     color: rgb(228, 228, 225);
     flex-direction: column;
     
   }
   
}